@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {}

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/bestsellers.css" />
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 order-2 order-md-1 mt-4 pt-2 mt-sm-0 opt-sm-0">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mt-4 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="https://via.placeholder.com/241x362/FFB6C1/000000" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>-->
                        <!--end col-->

                        <!--<div class="col-12">
                            <div class="mt-4 pt-2 text-right">
                                <a href="javascript:void(0)" class="btn btn-info">Read More <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>-->
                    <!--end row-->
                <!--</div>-->
                <!--end col-->

                <!--<div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="https://via.placeholder.com/337x450/87CEFA/000000" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>-->
                        <!--end col-->

                        <!--<div class="col-lg-12 col-md-12 mt-4 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="https://via.placeholder.com/600x401/FF7F50/000000" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>-->
                        <!--end col-->
                    <!--</div>-->
                    <!--end row-->
                <!--</div>-->
                <!--end col-->
            <!--</div>-->
            <!--end row-->
        <!--</div>-->
        <!--end col-->

        <!--<div class="col-lg-6 col-md-6 col-12 order-1 order-md-2">
            <div class="section-title ml-lg-5">
                <h5 class="text-custom font-weight-normal mb-3">About Us</h5>
                <h4 class="title mb-4">
                    Our mission is to <br />
                    make your life easier.
                </h4>
                <p class="text-muted mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit quod debitis praesentium pariatur temporibus ipsa, cum quidem obcaecati sunt?</p>

                <div class="row">
                    <div class="col-lg-6 mt-4 pt-2">
                        <div class="media align-items-center rounded shadow p-3">
                            <i class="fa fa-play h4 mb-0 text-custom"></i>
                            <h6 class="ml-3 mb-0"><a href="javascript:void(0)" class="text-dark">Responsive</a></h6>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 pt-2">
                        <div class="media align-items-center rounded shadow p-3">
                            <i class="fa fa-file-download h4 mb-0 text-custom"></i>
                            <h6 class="ml-3 mb-0"><a href="javascript:void(0)" class="text-dark">Free Download</a></h6>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 pt-2">
                        <div class="media align-items-center rounded shadow p-3">
                            <i class="fa fa-user h4 mb-0 text-custom"></i>
                            <h6 class="ml-3 mb-0"><a href="javascript:void(0)" class="text-dark">Support</a></h6>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 pt-2">
                        <div class="media align-items-center rounded shadow p-3">
                            <i class="fa fa-image h4 mb-0 text-custom"></i>
                            <h6 class="ml-3 mb-0"><a href="javascript:void(0)" class="text-dark">Development</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!--end col-->
    <!--</div>-->
    <!--enr row-->
</div>
<div class="container-fluid ">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="orange2">
                Electro Shop Electric
            </h1>
        </div>
        <div class="col-12 mb-5">
            <h5 class="font-weight-bold d-block">
                Founded in 2020
            </h5>
            the online Electrical Superstore where you can buy the latest top brand electrical appliances at the best possible prices.
        </div>

        <div class="col-12">
            @*<img src="image/devices.png" class="img-fluid" data-lazy-added="1">*@
            <video controls="controls">
                <source src="/image/video.mp4" type="video/mp4"
            </video>
        </div>
    </div>
</div>


<div class="container-fluid white" id="aboutIconsCon">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row text-center">
                        <div class="col-12">
                            <img src="image/aboutIcon1.png" class="img-fluid" data-lazy-added="1">
</div>
                    <div class="col-12">
	<h2>
		A Variety of Products</h2>
</div>
<div class="col-12">
	<p>
		The variety of products (over 2,500 products) marketed by the company includes desktop and laptop computers, cellular phones and smartphones, monitors and TV screens, tablets, gaming consoles and games, software, computer peripheral equipment and accessories.</p>
</div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row text-center">
                        <div class="col-12">
                            <img src="image/aboutIcon2.png" class="img-fluid" data-lazy-added="1">
</div>
                        <div class="col-12">
	<h2>
		Assembling Desktop Computers</h2>
</div>
<div class="col-12">
	<p>
		Electro Shop operates a logistics center with an innovating assembly lab, where all custom desktops are assembled according to the customer's specifications. Orders can be placed at any Electro Shop store, as well as online. Computers are comprised of the best and most advanced components and their quality is tested rigorously and extensively prior to their delivery to the custom</p>
</div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row text-center">
                        <div class="col-12">
                            <img src="image/aboutIcon3.png" class="img-fluid" data-lazy-added="1">
</div>
                    <div class="col-12">
	<h2>
		Customer Service</h2>
</div>
<div class="col-12">
	<p>
		Electro Shop maintains service stations in most of its stores and a nationwide customer service department that provides telephonic assistance in all matters.</p>
</div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row text-center">
                        <div class="col-12">
                            <img src="image/aboutIcon4.png" class="img-fluid" data-lazy-added="1">
</div>
                    <div class="col-12">
	<h2>
		Accessibility</h2>
</div>
<div class="col-12">
	Electro Shop's wish to provide equal service to as many people as possible results in our making efforts to adjust the stores facilities and accommodate the needs of customers with disabilities.
	<p>
		<a href="https://www.Electro-Shop.co.il/Accessibility.html"><span style="color:#000000;">www.Electro-Shop.co.il/Accessibility.html</span></a></p>
</div>

                    </div>
                </div>
            </div>
        
    </div>